# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual Environment
venv/
env/

# Django
db.sqlite3
media/
staticfiles/

# Environment Variables
.env

# Logs
*.log

# VS Code
.vscode/

# JetBrains
.idea/

# Node
node_modules/
dist/

# OS Files
.DS_Store
Thumbs.db

# Coverage
.coverage
htmlcov/

# Pytest
.pytest_cache/

# Migrations (optional, remove if needed)
**/migrations/*
!**/migrations/__init__.py
